.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.roulette-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-input {
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
}
.text-input::placeholder {
  font-size: 20px;
}

.rullet-button {
  width: 300px;
  height: 50px;
  background-color: rgb(255, 188, 0);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.rullet-button:hover {
  font-weight: 700; /* 호버했을 때 폰트 무게를 두껍게 조절 */
}

.winner {
  font-size: 30px;
  font-weight: bold;
}

.congrant-box {
  text-align: center;
}
